@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
@apply text-primary font-bold bg-transparent
}
.default{
  @apply text-secondary lg:text-white font-medium bg-transparent
}
.inputField{
  @apply border px-3 py-2 rounded-md w-80 lg:w-80 my-3
}
.myBtn{
  @apply bg-secondary w-full lg:w-80 py-2 bg-opacity-50 rounded-md my-4 font-semibold
}
.selected{
  @apply bg-primary text-white
}